.all_div{
    padding: 30px;
    height: 100vw;
}

.text_header{
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.submit_button{
    background-color: rgb(99, 167, 245);
    color: white;
    margin: 9px;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 9px;
    padding-right: 9px;
    text-decoration: none;
    font-size: 20px;
    border: black;
    border-style: solid;
    border-width: thin;
    border-color: rgb(99, 167, 245);
    border-radius: 10px;
}

.submit_button:hover{
    background-color: rgb(149, 252, 204);
    text-decoration: none;
}